.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
RData/
data/LDC-points
data/raw
data/versions-from-R
data/GIS-exports
from-Ron/
.positai
figures/2026-05_PSM-and-permutation-tests-1/
figures/2026-06_PSM-and-permutation-tests-1.2/
figures/2026-06_PSM-and-permutation-tests-2/